@font-face {
    font-family: "Minecraft Regular";
    src: url("../fonts/Minecraft_Regular/1_Minecraft-Regular.eot") format("eot"),
        url("../fonts/Minecraft_Regular/1_Minecraft-Regular.woff") format("woff"),
        url("../fonts/Minecraft_Regular/1_Minecraft-Regular.ttf") format("truetype"),
        url("../fonts/Minecraft_Regular/1_Minecraft-Regular.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}

body,
html {
    background: url('../img/minecraft.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#landing-page {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.buttons {
    margin: auto;
}

#landing-page button {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 30px;
    font-family: "Minecraft Regular";
}

.container {
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}