body{
    height:100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background-image: url('../img/menu\ background.jpg');
}

.wraper{
    height: 100%;
    
    display: flex;
    flex-direction: row;
}

.world{
     height: 100%;
     width: 90%;
    
}

.toolBar{
     height: 100%;
     width: 9%;
     
     display: flex;
     flex-direction: column;
     align-items: center;
}

.toolBox{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    width: 65%;
    align-content: center;
    border:3px solid white;
    background-color: grey;
    background-repeat: no-repeat;
}

.axeBox{
    background-image: url('../img/axe.png');
}

.pickaxeBox{
background-image: url('../img/pickaxe.png');
}

.shovelBox{
background-image: url('../img/shovel.png');
}

.CurrentResource{
    height: 8%;
    width: 50%;
    border: 1px black solid;
}

.box{
    height:33px;
    width:33px;
    background-size: contain;
    display: inline-block;
    margin-right: 0;
    margin-bottom: -4px;
    box-sizing: border-box;
}

.box:hover{
    border: 0.5px solid white;
}


.stone{
   
    background-image: url('../img/stone.png');
   
}

.wood{
   
    background-image: url('../img/wood.jpg');
}

.sky{
    background-color: rgb(15, 106, 190);
}

.ground{
   
    background-image: url('../img/ground.gif');
}

.grass{
    
     background-image: url('../img/grass.jpg');
    
}

.leaf{
     
     background-image: url('../img/leaf.jpg');
}