body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: inherit;
    overflow-y: hidden;
    background-color: #bdc3c7;

}

.wraper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.world {
    height: 100vh;
    width: 1382.4px;
    max-width: 1382.4px;
    min-width: 1382.4px;
}

.toolBar {
    height: 100%;
    width: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-tool {
    width: 120px;
    height: 120px;
}

.toolBox {
    border: 2px dashed;
    border-color: lightgrey;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 28px;
}

.toolBox:focus {
    border: 2px solid blue;
}

.toolBox:hover {
    cursor: pointer;
    background-color: rgb(1, 1, 104);
}

.toolSelected {
    background-color: blue;

}

.toggleError {
    background-color: rgb(255, 0, 0);
}

.pickedToolColor {
    border: 2px solid blue;
}

#CurrentResource {
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

.box {
    height: 33px;
    width: 33px;
    background-size: contain;
    display: inline-block;
    margin-right: 0;
    margin-bottom: -4px;
    box-sizing: border-box;
}

.box:hover {
    border: 0.5px solid white;
}


.stone {

    background-image: url('../img/stone.png');

}

.trunk {
    background-image: url('../img/wood.jpg');
}

.sky {
    background-color: rgb(15, 106, 190);
}

.ground {

    background-image: url('../img/ground.gif');
}

.grass {

    background-image: url('../img/grass.jpg');

}

.leaf {

    background-image: url('../img/leaf.jpg');
}


.tutorialSpot {
    background-color: aliceblue;
}


  